strict-peer-dependencies=false

# See https://pnpm.io/npmrc#hoist-pattern
# Make available those packages to other node modules even if they don't declare it.

# For graphql codegen
hoist-pattern[]=*rxjs*
